# What I've learn from the data set of Hero_Of_Pymoli

1. once think I've notice in the data set is that there are more men players (84%) who plays this game than female (14%). Maybe the company may want to figure out why there are few women playing the game than man. What is interesting also is that 1% of the population didn't disclosed their genger. I guess, the company may want to make it mandatory in order to have a better idea of the gender.

2. It also looks like we have big number of players that range between the age of 20 - 24. That group age represent 46% of the population.

3. The most profitable and popular item that was bought was " Despair, Favor of Due Diligence".

In [203]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [204]:
purchased_data = pd.read_csv(file_to_load)
purchased_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [205]:
#Display the total number of players
players = len(purchased_data["SN"].unique())
print(players)

576

In [206]:
Total_numbers = pd.DataFrame({"Total Players " : [players]})
print(Total_numbers)

   Total Players
0             576

In [207]:
#Purchasing Analysis (Total) Number of Unique Items
Unique_items = len(purchased_data["Item Name"].unique())
Unique_items

179

In [208]:
#calculating the average price purchased by the players
Average_Prices = purchased_data["Price"].mean()
Average_Prices

3.050987179487176

In [209]:
#we are calculating the number of purchases made by players
Number_of_purchase = purchased_data[ "Price"].count()
Number_of_purchase

780

In [210]:
#Calculating the overall total purchase by the players
Total_rev = purchased_data[ "Price"].sum()
Total_rev

2379.77

In [211]:
Purchasing_Analysis = pd.DataFrame({ "Number of Unique Items":[Unique_items],
                                        "Average Price": [Average_Prices],
                                        "Number of Purchases": [Number_of_purchase],
                                         "Total Revenue" : [Total_rev]
                                   })
Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [212]:
# Gender Demographics

gender_of_player = purchased_data["Gender"].value_counts()
gender_of_player

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [213]:
#Percentage gender
Total_gender = purchased_data["Gender"].count()
print(Total_gender)

780

In [214]:
perc_of_players= (gender_of_player/Total_gender)*100
perc_of_players

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [215]:
gender_dem = pd.DataFrame(gender_of_players)
gender_dem

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [216]:
percent_of_players = pd.DataFrame(perc_of_players)
percent_of_players

                          Gender
Male                   83.589744
Female                 14.487179
Other / Non-Disclosed   1.923077

In [275]:
demographics = percent_of_players.rename(columns={
    'Gender': 'Total Count',
})
demographics

                       Total Count
Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077

# Purchasing Analysis (Gender)

In [276]:
# We'll try to find out the purchase count by gender
gender_info = purchased_data.groupby("Gender")
print(gender_info)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021E3A775748>

In [277]:
players_count = purchased_data['SN'].count()
print(purchased_count)

780

In [278]:
gender_info = purchased_data.groupby('Gender')

players_count = gender_info['SN'].count()
players_count_df = pd.DataFrame(players_count)

# Finding the average purchased price by gender
avg_price =  gender_info['Price'].mean()

# we'll calculate the total purchased price by gender
overall_gender_purchased = gender_info['Price'].sum()

# We'll Calculate avg_total_purchase_per_Person 
avg_total =overall_gender_purchased / players_count


players_count_df['Average Purchase Price'] = avg_price
gender_purchased_df = pd.DataFrame(players_count_df)

# In order for our table to look like the model shown in the solotion, we need to rename the 'SN' column to look like Purchase Coun

gender_purchase_df = gender_purchased_df.rename(columns={
    'SN': 'Purchase Count',
})

# Add 'Avg Total Purchase per Person' to table
gender_purchase_df['Total Purchase Price'] = overall_gender_purchased
gender_purchaseID_df = pd.DataFrame(gender_purchase_df)

# Add 'Total Purchase Price' to table
gender_purchaseID_df['Total Purchase Price'] =avg_total
overall_gender_purchased = pd.DataFrame(gender_purchaseID_df)
overall_gender_purchased

,Purchase Count,Average Purchase Price,Total Purchase Price
Gender,,,
Female,113,3.203009,3.203009
Male,652,3.017853,3.017853
Other / Non-Disclosed,15,3.346000,3.346000

# Gender Democraphics

In [353]:
#Creating a bin where all the values will be hold. So, we are passing range where all the age are grouped within
bins = [0,9,14,19,24,29,34,38,39]
age_group= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

players_age = pd.DataFrame(purchased_data )
players_age["Age Group"] = pd.cut(purchased_data["Age"],bins,labels=age_group)
players_age= players_age.groupby("Age Group", as_index=True)



avg_count = players_age["Age Group"].count()
avg_total = purchased_data["Age"].count()
avg_percentage = (avg_count/avg_total)*100

demographics = pd.DataFrame({"Total Count":avg_count,"Percentage of Players": avg_percentage})

demographics.head(10)

           Total Count  Percentage of Players
Age Group
<10                 23               2.948718
10-14               28               3.589744
15-19              136              17.435897
20-24              365              46.794872
25-29              101              12.948718
30-34               73               9.358974
35-39               35               4.487179
40+                  6               0.769231

# Purchasing Analysis (Age)

In [354]:
#Creating a bin so it can be used to anlyze the avg purchasing trend based on age group

bins_group = [0,14,19,24,29,34,39,100]
age_grouping= ["10-14","15-19","20-24","25-29","30-34","35-39","40+"]

players_age = pd.DataFrame(purchased_data )
players_age["Age Group"] = pd.cut(purchased_data["Age"],bins_group,labels=age_grouping)
players_age= players_age.groupby("Age Group", as_index=True)

age_grouping = purchased_data.groupby(["Age Group"])

avg_age_price = round(age_grouping["Price"].mean())
total_value = age_grouping["Price"].sum()
Players_total = round(total_value/players_age_count,)
age_dataframe = pd.DataFrame({"Purchase Count":players_age_count,
                             "Average Purchase Price": avg_age_price,
                             "Total Purchase Value": total_value,
                             "Avg Total Purchase per Person": Players_total})

Purchase= age_dataframe[["Purchase Count","Average Purchase Price", "Total Purchase Value",
                               "Avg Total Purchase per Person"]]
Purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.0,77.13,3.0
10-14,28,3.0,82.78,3.0
15-19,136,3.0,412.89,3.0
20-24,365,3.0,1114.06,3.0
25-29,101,3.0,293.00,3.0
30-34,73,3.0,214.00,3.0
35-39,41,4.0,147.67,4.0
40+,13,3.0,38.24,3.0

# Top Spenders

In [370]:
#we need to figure who is the top buyers.

top_spenders = purchased_data.groupby("SN")["Price"].count()
top_spenders_df = pd.DataFrame(top_spenders)


unique_spenders = purchased_data.groupby("SN")["Price"].sum()


avg_price = purchased_data.groupby("SN")["Price"].mean()


top_spenders_df["Average Purchase Price"] = avg_price

# once we calculate the average and the sum, we'll add the 'Total Purchase Value' to table
top_spenders_df["Total Purchase Value"] = unique_spenders
top_spenders_df

#we will also rename the table to be able to match what is in our solotion
updated_top_spenders_df = top_spenders_df.rename(columns={
    "Price": "Purchase Count",
})

# Once our data has been calculated, we'll sort the price column from highest to lowest
Total_purchase= updated_top_spenders_df.sort_values(by=["Total Purchase Value"], ascending=False)
Total_purchase

Total_purchase.head (6)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
Ilarin91                  3                4.233333                 12.70

# Most Popular Items

In [393]:
#We'll set up our data frame and calculat the count of items and price in our data set

count_item =  purchased_data.groupby("Item ID")["Price"].count()
count_of_item = pd.DataFrame(count_item)

# once we know the count of all items, we'll calculate the price of the items

pupular_item =  purchased_data.groupby("Item ID")["Price"].sum()


item_names =  purchased_data.iloc[:, 5]
count_of_item["Item Name"] = item_names


price_of_items =  purchased_data.iloc[:, 6]
count_of_item["Item Price"] = price_of_items


count_of_item["Total Purchase Value"] = pupular_item 
count_of_item

#we'll rename the column tittke of our table to make sense of the data
new_count_of_item = count_of_item.rename(columns={ "Price": "Purchase Count",})

new_table = new_count_of_item[["Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

sorted_items_df = new_table.sort_values(by=["Purchase Count"], ascending=False)


sorted_items_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,4.60,50.76
145,Hopeless Ebon Dualblade,9,1.33,41.22
108,Malificent Bag,9,1.75,31.77
82,Azurewrath,9,4.40,44.10
19,"Blazefury, Protector of Delusions",8,4.64,8.16

# Most Profitable Items

In [397]:
profit_item = purchased_data.groupby("Item ID")['Price'].count()
good_items = pd.DataFrame(profit_item)

# Calculate 'Total Purchase Price' of each item
special_items  = purchased_data.groupby('Item ID')['Price'].sum()

# Add 'Item Name' to table
tot_items = purchased_data.iloc[:, 5]
good_items["Item Name"] = tot_items

# Add 'Item Price' to table
pricing_items = purchased_data.iloc[:, 6]
good_items["Item Price"] = tot_items

# Add 'Total Purchase Value' to table
good_items["Total Purchase Value"] = special_items
good_items

# Rename 'Price' to 'Purchase Count'
new_good_count_items = good_items.rename(columns={ "Price": "Purchase Count",})

# Rearrange columns
count_of_new_items = new_good_count_items[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

# Sort 'Purchase Count' from highest to lowest
New_profit_table = count_of_new_items.sort_values(by=['Total Purchase Value'], ascending=False)

# Show top 5 popular items only
New_profit_table.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,"Despair, Favor of Due Diligence",50.76
82,Azurewrath,9,Azurewrath,44.10
145,Hopeless Ebon Dualblade,9,Hopeless Ebon Dualblade,41.22
92,"Betrayal, Whisper of Grieving Widows",8,"Betrayal, Whisper of Grieving Widows",39.04
103,"Thorn, Satchel of Dark Souls",8,"Thorn, Satchel of Dark Souls",34.80